@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #2F4F4F;
}

.listing{
    background-color: rgb(250, 247, 242);
}

.search{
    background-color: rgb(250, 247, 242);
}

.container img{
    height: 10vh;
    width: 10vh;
}